/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

* {
  font-family: "Acme", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #273c75;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  /* background-color: #205a76; */
  background-color: #ecf0f1;
}

::-webkit-scrollbar-corner {
  background-color: #ecf0f1;
}

.font__family {
  font-family: "Acme", sans-serif !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  /* background-color: rgb(225 218 17 / 72%) !important; */
  color: #273c75 !important;
  height: 45px;
  width: 45px;
  margin-left: 10px;
  /* font-size: 50px !important; */
}

.css-1l14upw-MuiButtonBase-root-MuiTab-root:hover {
  /* color: gold; */
  font-size: 1em !important;
  border-bottom: 2px solid white;
}

.css-1l14upw-MuiButtonBase-root-MuiTab-root.Mui-selected {
  border-bottom: 2px solid white;
}

.css-uym98a-MuiImageList-root {
  width: 500px !important;
  height: 400px !important;
  grid-template-columns: repeat(2, 1fr) !important;
  gap: 5px !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  /* background-color: "rgba(0,0,255,0.6)"; */
  outline: none !important;
}
